services:
  postgres:
    image: postgres:17-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: unlinear
      POSTGRES_PASSWORD: unlinear
      POSTGRES_DB: unlinear
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
